<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/adminHead::headCss('管理文章')">
<body>
<!--头部-->
<div th:insert="common/adminHead::header"></div>

<!--中间内容-->
<div class="m-container m-padded-tb-large m-opacity-mini2">
    <div class="ui container">
        <div class="ui segment">
            <div class="ui grid padded four wide fields">
                <div class="ui input field">
                    <input id="articleTitle" type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown" id="articleType">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">文章类型</div>
                        <div class="menu" id="showArticleType">

                        </div>
                    </div>
                </div>
                <div class="field">
                    <button onclick="searchArticles()" class="ui blue basic middle button"><i class="search icon"></i>搜索</button>
                </div>
                <div class="field">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" id="totalNum"></h2> 篇
                </div>
            </div>
        </div>

        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>标题</th>
                <th>类型</th>
                <th>阅读</th>
                <th>点赞</th>
                <th>评论</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="articleBody">

            </tbody>
            <tfoot>
            <tr>
                <th colspan="8">
                    <div class="ui mini pagination menu">
                        <a href="javascript:void(0);" onclick="prePage()" class="icon item">上一页</a>
                        <a href="javascript:void(0);" onclick="nextPage()" class="icon item">下一页</a>
                    </div>
                    <a href="javascript:void(0);" onclick="addArticleButton()" class="ui right floated middle blue basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>

        <div id="popDeleteArticle" class="ui center aligned padded mini modal">
            <div class="ui header centered aligned">
                <p style="color: red" class="m-text">此操作将删除当前文章，请谨慎操作！</p>
            </div>
            <div class="ui fluid button border">
                <button id="deleteArticle" onclick="deleteArticle()" class="fluid ui blue button">确认删除</button>
            </div>
        </div>

        <div id="popAddArticle" class="ui center aligned padded mini modal">
            <p class="ui header centered aligned">文章标题</p>
            <div class="ui fluid input">
                <input id="addTitle" type="text" placeholder="文章标题">
            </div>
            <p class="ui header centered aligned">文章类型</p>
            <form class="ui reply form padded">
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="type" id="addSelectArticle">
                    <i class="dropdown icon"></i>
                    <div class="default text">文章类型</div>
                    <div class="menu" id="addSelectArticleType">

                    </div>
                </div>
                <p class="ui header centered aligned">文章摘要</p>
                <div class="field">
                    <textarea id="addDigest" placeholder="文章摘要"></textarea>
                </div>
                <p class="ui header centered aligned">文章链接</p>
                <div class="field">
                    <textarea id="addUrl" placeholder="文章链接"></textarea>
                </div>
            </form>
            <div class="ui fluid button border">
                <button id="addArticle" onclick="addArticle()" class="fluid ui blue button">确认添加</button>
            </div>
        </div>

        <div id="popUpdateArticle" class="ui center aligned padded mini modal">
            <p class="ui header centered aligned">文章标题</p>
            <div class="ui fluid input">
                <input id="updateTitle" type="text">
            </div>
            <p class="ui header centered aligned">文章类型</p>
            <form class="ui reply form padded">
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="type" id="updateSelectArticle">
                    <i class="dropdown icon"></i>
                    <div id="defaultText" class="default text">文章类型</div>
                    <div class="menu" id="updateSelectArticleType">

                    </div>
                </div>
                <p class="ui header centered aligned">文章摘要</p>
                <div class="field">
                    <textarea id="updateDigest" ></textarea>
                </div>
                <p class="ui header centered aligned">文章链接</p>
                <div class="field">
                    <textarea id="updateUrl"></textarea>
                </div>
            </form>
            <div class="ui fluid button border">
                <button id="updateArticle" onclick="updateArticle()" class="fluid ui blue button">确认修改</button>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<!--底部 footer-->
<div th:insert="common/footer::footer"></div>
<div th:insert="common/adminHead::headJs"></div>
<script th:src="@{/js/admin/adminArticle.js}"></script>
</body>
</html>