<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--移动端预览设置-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/css/forget.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/modules/toast/jquery.toast.css}">
    <script type="text/javascript" th:src="@{/modules/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/modules/toast/jquery.toast.js}"></script>
    <script type="text/javascript" th:src="@{/js/forget.js}"></script>
    <script type="text/javascript" th:src="@{/js/toast.js}"></script>
    <title>找回密码</title>
</head>
<body>
<div class="tpt-forget">
    <h2>找回密码页面</h2>
    <form>
        <input id="userName" type="text" name="name" placeholder="请输入账号">
        <input id="email" type="text" name="email" placeholder="请输入邮箱">
        <input id="confirm" type="text" name="confirm" placeholder="请输入验证码">
        <button id="send" type="button" onclick="sendMail()">发送</button>
        <input id="userPwd1" type="password" name="password" placeholder="请输入密码">
        <input id="userPwd2" type="password" name="confirmPassword" placeholder="请确认密码">
        <button id="btn_forget" type="button" onclick="findPassword()">修改密码</button>
    </form>
</div>
</body>
</html>