<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::headCss('首页')">
<body>
    <!--头部-->
    <div th:insert="common/head::header"></div>
    <!--中间内容-->
    <div class="m-padded-tb-large m-opacity-mini2">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--左边博客列表-->
                <div class="eleven wide column">
                    <!--header-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui blue header">文章</h3>
                            </div>
                            <div class="right aligned  column">
                                共 <h2 class="ui orange header m-inline-block m-text-thin" id="totalNum"></h2> 篇
                            </div>
                        </div>
                    </div>

                    <div class="ui attached segment">
                        <div class="ui vertical m-padded-wide-mini m-padded-tb-large segment" id = "content">

                        </div>
                    </div>

                    <!--footer-->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned three column grid">
                            <div class="column">
                                <a onclick="prePage()" class="ui mini blue basic button">上一页</a>
                            </div>
                            <div class="middle column">
                                <div class="ui fluid action input">
                                    <input id="inputPage" type="text" placeholder="当前/总数">
                                    <div onclick="getSpecifyPage()" class="ui blue mini button">跳转</div>
                                </div>
                            </div>
                            <div class="right aligned  column">
                                <a onclick="nextPage()" class="ui mini blue basic button">下一页</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--右边的top-->
                <div class="five wide column">
                    <!--分类-->
                   <div class="ui segments">
                       <div class="ui secondary segment">
                           <div class="ui two column grid">
                               <div class="column">
                                   <i class="id badge icon blue"></i> 发布者
                               </div>
                               <div class="right aligned column">
                                   <a href="javascript:void(0);"  onclick="topToPostUser()" target="_blank">更多 <i class="angle double right icon"></i> </a>
                               </div>
                           </div>
                       </div>
                       <div class="ui blue segment" id = "postuser">

                       </div>
                   </div>

                    <!--标签-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon blue"></i> 标签
                                </div>
                                <div class="right aligned column">
                                    <a href="javascript:void(0);"  onclick="topToLabel()" class="item" target="_blank">更多 <i class="angle double right icon"></i> </a>
                                </div>
                            </div>
                        </div>
                        <div class="ui blue segment" id="label">
                        </div>
                    </div>

                    <!--最新推荐-->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">
                            <i class="bookmark icon blue"></i> 最新推荐
                        </div>
                        <div class="ui blue segment" id="recommend">
                        </div>
                    </div>

                    <!--二维码-->
                    <h4 class="ui horizontal orange divider header m-margin-top-large">扫码加好友</h4>
                    <div class="ui centered card" style="width: 12em">
                        <img th:src="@{img/wechat.png}" alt="" class="ui rounded image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!--底部 footer-->
    <div th:insert="common/footer::footer"></div>
    <div th:insert="common/head::headJs"></div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>